


// Display Helpers

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-sa {
    justify-content: space-around;
}

.flex-justify-sb {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-rr {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-cc {
    flex-direction: column-reverse;
}