@import '../../../styles/variables.scss';

.domainForm {
    display: flex;
}

#formInput {
    -webkit-appearance: none;
    outline: none;
    border: 5px solid $orange;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
}