@import '../../../styles/variables.scss';

.bladeWhatIsIt {
    background-color: $darkBlue;
    color: white;
}

.bladeHowItWorks {
    background-color: $widgetContainer;
    // color: white;
}

.blurbImg {
    max-height: 200px;
}