@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

// media queries
$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 500px;
$xs-mobile-width: 320px;

@mixin xs-mobile {
    @media (max-width: #{$xs-mobile-width}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$xs-mobile-width}) and (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

// ===============
// General page helpers
// ===============

* {
    font-family: 'Oxygen', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h3 {
    color: $lightBlue;
}

ul {
    list-style-type: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.strong {
    font-weight: 600;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

// ===============
// Font
// ===============

.heroTitle {
    font-size: 45px;
}

.heading {
    font-size: 36px;
}

.subHeading {
    font-size: 30px;
    color: $lightBlue;
}

.highlight {
    font-size: 25px;
}

p, li, input, button {
    font-size: 21px;
}

// ===============
// Display Helpers
// ===============

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-sa {
    justify-content: space-around;
}

.flex-justify-sb {
    justify-content: space-between;
}

.flex-ac {
    align-items: center;
}

.flex-as {
    align-items: flex-end;
}

.flex-ae {
    align-items: flex-end;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-rr {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-cc {
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.tac {
    text-align: center;
}

// width helpers

.w3 {
    width: 25%;
}

.w4 {
    width: 33%;
}

.w6 {
    width: 50%;
    @include mobile {
        width: 100%
    }
}

.w12 {
    width: 100%;
}

.fb3 {
    flex-basis: 25%;
}

.fb4 {
    flex-basis: calc(33% - 5px);
}

.fb6 {
    flex-basis: calc(50% - 5px);
    @include mobile {
        flex-basis: 100%;
    }
}

.fb8 {
    flex-basis: 67%;
}

.fb12 {
    flex-basis: 100%;
}

// Format Containers

.container {
    padding: 30px 0px;
    margin: 0px 70px;
}

.col3-container, .col2-container {
    gap: 40px;
}

.widgetContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    width: 100%;
    max-width: 100%;
    gap: 10px;

    @include mobile {
        flex-direction: column;
    }
}

.widget {
    // padding: 25px;
    background-color: $widgetContainer;
    border-radius: 6px;
    // margin: 10px 7px;
}

.widget > div {
    padding: 25px;
}

.bladeHeader {
    padding: 30px 0px;
}

// Margins/padding

.contentMargin {
    margin: 0 50px;
}

.margin-r-20 {
    margin-right: 20px;
}

.margin-l-20 {
    margin-left: 20px;
}

.margin-lr-50 {
    margin-left: 50px;
    margin-right: 50px;
}

.margin-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-tb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

// Dividers

.divider-100 {
    padding: 2px 0px;
    width: 100%;
    height: 2px;
    background-color: $darkBlue;
    border-radius: 10px;
}

.divider-thin {
    width: 100%;
    background-color: $darkBlue;
    height: 1px;
}

// Navigation-related

.navLink {
    margin: 0 20px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: $darkBlue;
    font-weight: 500;
}

.footerHeader {
    font-size: 26px;
    color: $orange;
    font-weight: 600;
    text-transform: uppercase;
}

.footerLink {
    color: $widgetContainer;
    font-size: 21px;
    width: fit-content;
}

.footerCredits {
    color: $lightBlue;
    font-size: 16px;
}

.tabsList {
    padding: 20px
}

.tabItem {
    margin: 0 20px;
    font-weight: 600;
}

.tabItem:hover {
    border-bottom: 5px solid $orange;
}

.linkOrange {
    color: $orange;
    text-decoration: underline dotted;
}

.linkBlue {
    color: $lightBlue;
    text-decoration: underline dotted;
}

// buttons

.primaryCTA {
    padding: 10px 20px;
    font-weight: 600;
    font-size: $primaryCTA;
    width: fit-content;
    text-align: center;
    color: white;
    background-color: $lightBlue;
    border-radius: 10px;
    margin: 5px 0;
}

.secondaryCTA {
    font-size: $secondaryCTA;
    width: fit-content;
    text-align: center;
    color: $orange;
    font-weight: 600;
}

//border boxes

.orangeBorderBox {
    background-color: transparent;
    border: 4px solid $orange;
    border-radius: 10px;
    padding: 10px;
    color: $orange;
}

// @include mobile {
//     .w3, .w4, .w6, .fb3, .fb4, .fb6 {
//         width: 100%;
//         flex-basis: 100%;
//     }
// }

@media (max-width: #{$mobile-width}) {
    
    .container {
        margin: 0 20px;
    }
    
    .w3, .w4, .w6, .fb3, .fb4, .fb6, .fb8 {
        width: 100%;
        flex-basis: 100%;
    }

    .flex {
        flex-wrap: wrap;
    }
}