@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

// ===============
// General page helpers
// ===============

* {
    font-family: 'Oxygen', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

ul {
    list-style-type: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

// ===============
// Font
// ===============

.heading {
    font-size: 36px;
}

.subHeading {
    font-size: 30px;
}

.highlight {
    font-size: 25px;
}

p, li {
    font-size: 21px;
}

// ===============
// Display Helpers
// ===============

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-sa {
    justify-content: space-around;
}

.flex-justify-sb {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-rr {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-cc {
    flex-direction: column-reverse;
}

// width helpers

.w6 {
    width: 50%;
}

// Format Containers

.container {
    padding: 20px 0px;
    margin: 0px 50px;
}

.widgetContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.widget {
    padding: 25px;
    background-color: $widgetContainer;
    border-radius: 6px;
    margin: 15px;
}

// Margins

.contentMargin {
    margin: 0 50px;
}

.margin-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
}

// Dividers

.divider-100 {
    padding: 2px 0px;
    width: 100%;
    height: 2px;
    background-color: $darkBlue;
    border-radius: 10px;
}

// Navigation-related

.primaryNavLink {
    margin: 0 20px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: $darkBlue;
    font-weight: 500;
}

.tabsList {
    padding: 20px
}

.tabItem {
    margin: 0 20px;
    font-weight: 600;
}

.tabItem:hover {
    border-bottom: 5px solid $orange;
}

// buttons

.primaryCTA {
    padding: 10px;
    color: white;
    background-color: $lightBlue;
    border-radius: 10px;
    margin: 5px 10px;
}

.secondaryCTA {
    font-size: $secondaryCTA;
    color: $orange;
    font-weight: 600;
}

//border boxes

.orangeBorderBox {
    background-color: transparent;
    border: 4px solid $orange;
    border-radius: 10px;
    padding: 10px;
    color: $orange;
}