// Branding colors
$lightBlue: #00798C;
$mediumBlue: #30638E;
$darkBlue: #003D5B;

$red: #D1495B;
$orange: #EDAE49;

$mediumGrey: #353535;
$darkGrey: #001219;

// fonts
$header: 36px;
$subHeader: 28px;
$highlight: 18px;
$primaryCTA: 25px;
$secondaryCTA: 25px;

// container specific
$widgetContainer: #E5E7E6;
$footerColor: $mediumGrey;